@font-face {
    font-family: 'FR73 Pixel W00 Regular';
    src: url('7c2857cbd04acdf539eeb197ca8fd6c2.woff2') format('woff2'),
         url('7c2857cbd04acdf539eeb197ca8fd6c2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}